* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* start of navbarr styling */
/* Set the width of the sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

/* Set the style of the sidebar links */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 10px;
  font-size: 18px;
  color: blue;
  transition: 0.3s;
}

.sidebar a {
  color: pink;
  text-decoration: none;
}

.sidebar a:hover {
  color: red;
}

/* Set the style of the hamburger icon */
.fa-bars {
  font-size: 30px;
  color: blue;
  cursor: pointer;
  padding: 15px;
}

/* Shift the content to the right when the sidebar is visible */
.shifted-content {
  transition: margin-left 0.5s;
  margin-left: 200px;
}
.sidebar.active {
  width: 200px;
}
.shifted-content.active {
  margin-left: 200px;
}

.home {
  display: none;
}
.navbar {
  padding: 10px 10px;
  border: 5px solid yellowgreen;
}
.navcont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hambar {
  justify-self: end;
  padding-right: 10px;
  /* padding-top: 10px; */
  color: black;
}
.home {
  align-self: center;
  color: blue;
}
@media screen and (min-width: 786px) {
  .hambar i {
    display: none;
  }

  .home {
    display: block;
  }
  .home li {
    display: inline-block;
  }
  .home a {
    text-decoration: none;
    padding: 5px;
  }
  .home a:hover {
    color: rgb(218, 218, 39);
    /* transform: scale(2); */
  }
}
/* project styling */
.project-name {
  display: flex;
  height: 20vh;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}
.img {
  width: 100%;
  height: 100%;
  /* background-image: url("./images/fancy.jpg");
  background-repeat: no-repeat; */
  /* background-size: cover; */
  overflow: hidden;
}
.project-name h1 {
  text-align: center;
  font-family: "Bruno Ace SC", cursive;
}
#under {
  border-bottom: 4px solid blanchedalmond;
}
.card {
  border: 5px solid gainsboro;
}
.one {
  position: relative;
  height: 300px;
  border: 5px solid greenyellow;
  overflow: hidden;
  width: 100%;
  height: 60vh;
}
.one img {
  width: 100%;
  height: 90%;
  /* background-image: url("./images/fancy.jpg");
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* border: 5px solid #ffffff; */
  object-fit: cover;
}
.i {
  position: absolute;
  /* display: inline-block; */
  /* margin-top: 2px; */
  margin-right: 45%;
  margin-left: 45%;
  margin-top: -10px;
  /* margin-top: -70%; */
  /* margin-bottom: 30px; */
  border: 2px solid yellow;
  border-radius: 5rem;
  z-index: 500;
  size: 100px;
}
#source {
  margin-left: 80%;
}
@media screen and (min-width: 786px) {
}
/* footer section */
.footer {
  padding: 2rem 3rem;
  background: blanchedalmond;
  color: blue;
  text-align: center;
}

.footer ul {
  list-style: none;
  margin-bottom: 1.5rem;
}

.footer ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

.footer ul a {
  color: black;
  font-size: 1.5rem;
}
